.wrapper {
  display: flex;
  flex-direction: row;

  .edit {
    margin-right: 20px;

    textarea,
    input {
      width: 500px;
    }

    button {
      background-color: red;
      color: white;
      font-size: 32px;

      width: 500px;
      height: 200px;

      &:hover {
        background-color: crimson;
      }
    }
  }
}
