// colors

$black: #000;

$white: #fff;

$gray1: #f7f7f7;
$gray2: #efefef;
$gray3: #c4c4c4;
$gray4: #9a9a9a;
$gray5: #6c6c6c;
$gray6: #1a1a1a;

$orange1: #fdf5f5;
$orange2: #fbd7d4;
$orange3: #f7afa8;
$orange4: #f4877d;
$orange5: #f05f51;
$orange6: #ec3726;

$blue: #5577f5;

// font-sizes
$xsmall: 1.1rem;
$small: 1.3rem;
$medium: 1.5rem;
$large: 1.7rem;
$xlarge: 2.3rem;
