.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.4rem 0.8rem 0 0.4rem;
  margin-top: 0.4rem;
  border-top: 1px solid $gray2;

  & > * {
    margin-right: 0.4rem;
  }
}
